In [1]:
%run stdPackages.ipynb
import lpEnergyModels # import energy models

# Examples using  `pyDbs.SimpleDB`

The notebook shows basic usage for the class `pyDbs.SimpleDB`. A more comprehensive documentation is at [fullDocs_SimpleDB.ipynb](fullDocs_SimpleDB.ipynb).

**Initialize and add symbols:**

In [2]:
db = pyDbs.SimpleDB() # initialize empty database
db['mySet'] = pd.Index(range(5), name = 'mySet') # add set
db['my2dSet'] = pd.MultiIndex.from_product([db('mySet'), pd.Index(range(10,21), name = 'myOtherSet')])
db['myVar'] = pd.Series(1, index = db('mySet')) # add variable from pandas series
db['myScalar'] = 1 # add scalar

*Note: The `__setitem__`  method is constructed to run pandas objects and scalars through a small helper function and create `pyDbs.Gpy_` instances.*

**Access symbols with pandas representation - the `__call__` method:**

*Get set as pandas index:*

In [3]:
db('mySet') # return pandas index

RangeIndex(start=0, stop=5, step=1, name='mySet')

*Get variable as pandas series:*

In [4]:
db('myVar')

mySet
0    1
1    1
2    1
3    1
4    1
dtype: int64

*Get scalar:*

In [5]:
db('myScalar')

1

**Add or merge symbols:**

The method `self.aom(symbol, **kwargs)` adds the symbol if it is not yet in the database and otherwise merges the pandas representation of the symbol:

In [6]:
db.aom(pd.Series(2, index = db('mySet')[0:2], name = 'myVar')) # add or merge new values for the 'myVar' variable
db('myVar') # the new values are used where it was supplied [0,1]

mySet
0    2
1    2
2    1
3    1
4    1
Name: myVar, dtype: int64